@charset "UTF-8";
:root {
--color-main-fg: #1f1f1f;
--color-main-bg: #f5f6f6;
--color-card: #ffffff;
--color-accent: #6495ed;
--color-accent-fg: #ffffff;
--color-o-light: #ffe4e1;
--color-p-shade: #e8eaed;
--color-o-shade: #ccffff; 
--color-box-shadow: rgba(0, 0, 0, 0.4);
--color-img-grayscale: 0;
}
[data-theme="dark"] {
--color-main-fg: #e3e3e3;
--color-main-bg: #333333;
--color-card: #181818;
--color-accent: #6495ed;
--color-accent-fg: #ffffff;
--color-o-light: #663333;
--color-p-shade: #3c4043;
--color-o-shade: #003366;
--color-box-shadow: rgba(128, 128, 128, 0.4);
--color-img-grayscale: 80%;
}
/*-------------
body {
  margin: 0;
  padding: 0;
}
-------------*/
div.wrapper {
  width: fit-content;
  margin: 0 auto;
}
table.main {
  border-collapse: collapse;
  border-left: 2px solid var(--color-main-fg);
  border-right: 2px solid var(--color-main-fg);
  border-bottom: 2px solid var(--color-main-fg);
}
table.main th {
  background-color: var(--color-main-bg);
  white-space: nowrap;
}
table.main th._sticky {
  position: sticky;
  top: 0;
  left: 0;
}
table.main th._sticky:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 2px solid var(--color-main-fg);
  border-bottom: 2px solid var(--color-main-fg);
  background: var(--color-p-shade);
  z-index: -1;
}
table.main th._middle {
  border-left: 1px solid var(--color-main-fg);
  border-right: 1px solid var(--color-main-fg);
}
table.main td {
  border: 1px solid var(--color-main-fg);
  white-space: nowrap;
}
table.main td:nth-child(n+2) {
  text-align: right;
}