.switch-wrapper {
  display: flex;
}
.switch-align-left {
  justify-content: flex-start;
}
.switch-align-center {
  justify-content: center;
}
.switch-align-right {
  justify-content: flex-end;
}
.switch-wrapper span {
  /*
  margin-right: 10px;
  */
  margin-right: 1rem;
  font-size: 1rem;
}
.switch {
  display: inline-block;
  height: 20px;
  position: relative;
  width: 40px;
}
.switch input {
  display:none;
}
.switch .slider {
  background-color: #ccc;
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: .4s;
}
.switch .slider:before {
  background-color: #fff;
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  bottom: 4px;
  left: 4px;
  transition: .4s;
}
.switch input:checked + .slider {
  /*
  background-color: #66bb6a;
  */
  background-color: #6495ed;
}
.switch input:checked + .slider:before {
  transform: translateX(20px);
}
.switch .slider.round {
  border-radius: 34px;
}
.switch .slider.round:before {
  border-radius: 50%;
}