@charset "UTF-8";
body {
  font-family:
    "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    "Noto Sans",
    Meiryo,
    sans-serif;
  background-color: #f5f6f6;
}
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap {
  width: fit-content;
  height: fit-content;
  /* margin: 64px auto; */
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
}
.header {
  font-size: 24px;
  color: white;
  background-color: royalblue;
  padding: 8px;
  border-radius: 0.5rem 0.5rem 0 0;
}
.title {
  font-size: 24px;
  color: white;
  border-left: 24px solid white;
  padding-left: 8px;
}
.outer-out {
  width: fit-content;
  padding: 32px 32px 8px 32px;
}
.outer-in {
  width: fit-content;
}
.inner {
  width: fit-content;
  display: inline-block;
  padding: 20px 8px 4px 8px;
}
.align-right {
  display: flex;
  justify-content: flex-end;
  padding: 20px 8px 4px 8px;
}
.qrcode-wrap {
  display: none;
}
.align-center {
  /* display: none; */
  display: flex;
  justify-content: center;
  padding: 20px 8px 4px 8px;
}
label {
  width: 128px;
  margin: 0;
  padding: 0;
  display: inline-block;
  font-size: 24px;
  color: gray;
}
label.active {
  font-weight: bold;
  color: black;
}
input[type=text] {
  margin: 0;
  padding: 0;
  font-size: 24px;
  border: none;
} 
input[type=text]:focus {
  outline: none;
}
.line-gray {
  height: 1px;
  background-color: gray;
}
.line-red {
  position: relative;
  top: -2px;    
  height: 2px;
  background-color: red;
  transform-origin: left;
  transform: scaleX(0);
}
.line-red.active {
  transform: scaleX(1);
  transition: transform 0.25s ease-out;
}
.btn-flat-border {
  display: inline-block;
  padding: 8px;
  font-size: 24px;
  text-decoration: none;
  color: royalblue;
  border: 3px solid royalblue;
  background-color: lavender;
  border-radius: 8px;
  transition: 0.25s;
}
.btn-flat-border:hover {
  color: white;
  background-color: royalblue;
  cursor: pointer;
}
.message {
  /* display: none; */
  height: 24px;
  text-align: center;
  margin-top: 8px;
  font-size: 16px;
  /* background-color: lightgreen; */
  border-radius: 8px;
  background-color: transparent;
}
